body{
  text-align: center;
  margin: 0 ;
  padding:0 ; 
}

#hero{
  width: 626px;
  margin: auto;
}

#hero img {
  margin-bottom:32px ;
}

h1
{
  font-family: "Dosis", "Arial";
  font-size: 32px;
  line-height: normal;
  font-weight: 500;
  margin-bottom: 16px;

}
h1 span, a
{
  font-weight: bold;

}
span
{
  color:#EE24FF ;
}

#up {
  margin-bottom: 32px;
}
p, #footer
{
font-size: 15px;
line-height: 22px;
color: #828282 ;
}
p, #up,
 {
margin-bottom: auto 64px auto;


}
#footer 
{

}
#footer a + a 
{
  margin-left: 42px;
  margin-bottom: 40,83px;

}
a
{
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #3F3D56;

  text-decoration: none;
  text-align: center;
}
#line 
{
  border: solid 1px #ECEFF2;
  width: 391px;

  margin: 0 auto 16px;
}
#wave {
 position:;
 width:100%
}
#main {
  margin: 64px auto;
  max-width: 626px;
}